.jumbotron {
    background-color: rgb(55, 155, 158);
    color: black;
    margin-top: 50px;
}

/*tarjetas de hoteles*/ 
.card-hoteles {
    flex: 1 200px;
    padding: 2px 5px 5px 5px;
    margin-top: 10px;
}

/* boton contacto */
.btn-contacto {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
}

/*boton de reserva*/
.btn-reserva {
    width: 100%;
 
}



footer {    
    padding: 1px 10px 0 10px;
    background-color: rgb(55, 155, 158);
    margin-bottom: 0px;
    margin-top: 10px;
    color:white;
}

.tab-content {
    padding-top: 10px;
}

.footer-address-icon {
    padding-right: 10px;
    
}