@green: #3cd5af;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}


.jumbotron {
    background-color: @green;
    color: black;
    .margenes(50px, 0px);
}
  
  /*tarjetas de hoteles*/
  .card-hoteles {
    flex: 1 200px;
    padding: 2px 5px 5px 5px;
    .margenes(10px, 0px);
}

  /* boton contacto */
  .btn-contacto {
    .margenes(10px, 10px);
    width: 50%; 
}
  
  /*boton de reserva*/
  .btn-reserva {
    width: 100%;
 }
  
  footer {
    padding: 1px 10px 0 10px;
    background-color: @green;
    .margenes(10px, 0px);
    color: white;
 }
  
  .tab-content {
    padding-top: 10px; 
}
  
  .footer-address-icon {
    padding-right: 10px;
 }