.jumbotron {
  background-color: #3cd5af;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
/*tarjetas de hoteles*/
.card-hoteles {
  flex: 1 200px;
  padding: 2px 5px 5px 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}
/* boton contacto */
.btn-contacto {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}
/*boton de reserva*/
.btn-reserva {
  width: 100%;
}
footer {
  padding: 1px 10px 0 10px;
  background-color: #3cd5af;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white;
}
.tab-content {
  padding-top: 10px;
}
.footer-address-icon {
  padding-right: 10px;
}
